body {
            background-color: #000000;
            background-image: url("../images/background.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            min-height: 100dvh;
            margin: 0%;
        }
@keyframes pulse{
    0%{
        transform:scale(1);
        box-shadow:
            0 0 5px #00e5ff,
            0 0 15px #00e5ff,
            0 0 30px #00e5ff;
    }

    50%{
        transform:scale(1.12);
        box-shadow:
            0 0 10px #00e5ff,
            0 0 25px #00e5ff,
            0 0 50px #00e5ff,
            0 0 80px #00e5ff;
    }

    100%{
        transform:scale(1);
        box-shadow:
            0 0 5px #00e5ff,
            0 0 15px #00e5ff,
            0 0 30px #00e5ff;
    }}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    z-index: 999;
}
.navbar-container{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;

}
.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    transition: all 0.7s ease;
    white-space: nowrap;

}
.navbar-container .navbar-menu li a:hover, .navbar-container .navbar-menu li a.active{
    color: #162530;
    background: rgba(188, 212, 229, 0.81);
    border: 2px solid white;

}
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height:3px;
    margin:5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

    @media(max-width: 880px){
        .navbar{
            backdrop-filter: none;
        }
        .navbar-container .navbar-menu{
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.7rem !important;
            position:absolute;
            height: 100vh;
            width: 250px;
            top: 0;
            right: 0;
            padding: 5rem .5 rem;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(12px);
        }
        .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;

    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;

    }

    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    }
    @media(max-width: 480px){
        .navbar-container{
            padding: 0 1rem;
        }

        .navbar-logo{
            font-size: 1.7rem;

        }

        .navbar-container .navbar-menu li a {
            font-size: 1.2rem;
            padding: 3px 15px;
        }
    }



.down {
    position: absolute;
    bottom:10px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px black;
    color: white;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}
.down a{
    color:aqua;
    cursor: pointer;
}
.down a:hover{
    color: blueviolet;
}
#controls{
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 14vw;
    max-height: 80px;
    width:80%;
    max-width: 950px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(12px);
    align-items: center;
    align-content: center;
    border-radius: 150px;
    display: flex;
    gap:0.5rem;
    word-spacing: normal;
    box-shadow: 0 0 10px black;
}
#controls button{
    top: 50%;
    background:rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 10px black;
    border-radius: 150px;
    align-items: center;
    align-content: center;

}
.camera img, .mic img{
    height:100%;
    width:100%;
    border-radius: 150px ;
    transform: translate(-50%,-50%);
    position: absolute;
}
.value{
    height: 50%;
    width: 70%;
    max-height: 50px;
}
.value #responsetext{
    width: 98%;
}
.camera, .mic{
    height: 60%;
    width: 15%;
    max-height: 50px;
    max-width: 50px;
}
.camera{
    padding-left: 10px;
}
.send{
    height: 60%;
    width:15%;
    min-width: 50px;
    max-width: 120px;
}
.camera button,.mic button, .send button,.value textarea{
    height: 100%;
    width:95%;
    border-radius: 150px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 10px black;
    resize: none;
    align-content: center;
}

.generation-screen{
    top:40%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    height: 40%;
    width: 70%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.generation-screen textarea{
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    width:80%;
    height: 70%;
    padding:10px;
    background: rgba(255, 255, 255, 0.05);
    color:#000000;
    border: 2px solid white;
    font-size:16px;
    resize:none;
    box-sizing:border-box;
    border-radius: 15px;
}
.generation-screen h3{
    top:5%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1rem;
    width: 100%;
}
.mic{
    display: flex;
    justify-content: center;
    align-items: center;
}

#microphone{
    cursor: pointer;
    transition: 0.3s ease;
}

.mic.active #microphone{
    background: #00e5ff;
    box-shadow: 
        0 0 10px #00e5ff,
        0 0 25px #00e5ff,
        0 0 50px #00e5ff,
        0 0 90px #00e5ff;

    animation: neonPulse 1.2s infinite;
}
@keyframes neonPulse{
    0%{
        transform: scale(1);
        box-shadow: 
        0 0 10px #00e5ff,
        0 0 25px #00e5ff,
        0 0 50px #00e5ff;
    }
    50%{
        transform: scale(1.1);
        box-shadow: 
        0 0 20px #00e5ff,
        0 0 45px #00e5ff,
        0 0 80px #00e5ff;
    }
    100%{
        transform: scale(1);
        box-shadow: 
        0 0 10px #00e5ff,
        0 0 25px #00e5ff,
        0 0 50px #00e5ff;
    }
}